<header id="main-header">
	<div id="logo">
		<a href="/">MONGODB TODO LIST</a>
	</div>
	<nav>
		<ul>
			<li>
				<a href="/">All todo</a>
			</li>
			<li>
				<a href="/create-todo">New todo</a>
			</li>
		</ul>
	</nav>
</header>
