html {
	font-family: "Roboto Slab", serif;
	color: rgb(46, 45, 48);
}

body {
	margin: 0;
	background-color: white;
}

main {
	width: 80%;
	margin: 3rem auto;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	box-shadow: inset 0 0 0 0 cornflowerblue;
	color: cornflowerblue;
	padding: 0 0.25rem;
	margin: 0 -0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:hover,
a:active {
	color: white;
	box-shadow: inset 200px 0 0 0 #54b3d6;
}

#main-header {
	background-color: cornflowerblue;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 2rem 10%;
}

#main-header ul {
	display: flex;
}

#main-header li {
	margin-left: 2rem;
}

#main-header nav a {
	color: white;
	font-size: 1.25rem;
}

#main-header nav a:hover,
#main-header nav a:active {
	box-shadow: none;
}

#logo a {
	font-size: 1.5rem;
	font-weight: bold;
	color: whitesmoke;
}

#logo a:hover,
a:active {
	box-shadow: none;
}

#all-todo {
	text-align: center;
}

.btn {
	cursor: pointer;
	font: inherit;
	background-color: cornflowerblue;
	border: 1px solid cornflowerblue;
	color: white;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
}
